[Desktop Entry]
Encoding=UTF-8
Name=Deb Installer
Comment=Install downloaded deb packages
Exec=deb-installer
Terminal=false
Type=Application
Icon=deb-installer
Categories=GNOME;GTK;System;
NoDisplay=false
MimeType=application/vnd.debian.binary-package;
StartupNotify=true
Keywords=package;apt;dpkg;install
