[Desktop Entry]
Encoding=UTF-8
Name[es]=Instalador de Deb
Name[es_ES]=Instalador de Deb
Name[fr]=Installateur Deb - Deb Installer
Name[fr_BE]=Installateur Deb - Deb Installer
Name[it]=Installer deb
Name[ja]=Deb インストーラ
Name[nb]=Deb-installering
Name[nl]=Deb Installeerder
Name[pt]=Instalador deb
Name[pt_BR]=Instalador e Desinstalador de Pacotes *.deb
Name[sv]=Deb Installerare
Name=Deb Installer
Comment[es]=Instalar los paquetes deb descargados
Comment[es_ES]=Instalar los paquetes deb descargados
Comment[fr]=Installation des paquets deb téléchargés
Comment[fr_BE]=Installation des paquets deb téléchargés
Comment[it]=Installa i pacchetti deb scaricati
Comment[ja]=ダウンロードした deb パッケージをインストールします
Comment[nb]=Installer nedlastede deb-pakker
Comment[nl]=Installeer gedownloade deb pakketten
Comment[pt]=Instalar pacotes deb descarregados
Comment[pt_BR]=Instala ou desinstala programas aplicativos/aplicações que possuem arquivos com a extensão .deb com o Debinstaller
Comment[sv]=Installera nedladdade deb paket
Comment=Install downloaded deb packages
Exec=deb-installer %F
Terminal=false
Type=Application
Icon=deb-installer
Categories=GNOME;GTK;System;
NoDisplay=false
MimeType=application/x-deb;application/vnd.debian.binary-package;
StartupNotify=true
Keywords[es]=paquete;apt;dpkg;instalar
Keywords[es_ES]=paquete;apt;dpkg;instalar
Keywords[fr]=package;apt;dpkg;install
Keywords[fr_BE]=package;apt;dpkg;install
Keywords[it]=package;apt;dpkg;install
Keywords[nb]=pakke;apt;dpkg;installere
Keywords[nl]=package;apt;dpkg;install
Keywords[pt]=pacote;apt;dpkg;instalar
Keywords[pt_BR]=pacote;pacotes;apt;dpkg;instalar;instalador;deb;instalar um pacote local
Keywords[sv]=package;apt;dpkg;install
Keywords=package;apt;dpkg;install
